div{
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 8s;
    position: relative;
    /*animation-iteration-count: 2;
    animation-iteration-count: infinite;
    */
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    /* animation:example 8s linear 2s infinite reverse ; */
}

@keyframes example{
    /* from{
        background-color: red;
    }
    to{
        background-color: yellow;
    } */

    0%{
        background-color: red;
        left: 0;
        top: 0;
    }
    25%{
        background-color: yellow;
        left: 250px;
    }
    50%{
        top: 250px;
        left: 250px;
        background-color: green;
    }
    100%{
        top: 0;
        left: 0;
        background-color: orange;
    }
}