ul{
    list-style-type: disc;
    background-color: cyan;
}

ul li{
    background-color: blue;
}

ol{
    list-style-type: upper-alpha;
    /* list-style-type: none; */
    background-color:antiquewhite;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 25px;
    font-size: 16px;
    width: 420px;
}

.icon {
    font-size: 20px;
    margin-right: 12px;
    font-weight: bold;
}

.blue { background: blue; }
.peach { background: peachpuff; }
.cyan { background: cyan; }
.yellow { background: yellow; }
.light-green { background: lightgreen; }
.light-blue { background: lightblue; }
.pink { background:pink; }