.outline{
    border: 2px solid black;
    padding: 20px;
    text-align: center;

    outline-style: dotted;
    outline-width: 10px;
    outline-color:crimson; 
    outline-offset: 10px;

    /* outline:10px dotted crimson ; */
}