.static
{
    border: 3px solid black;
    position: static;
    top: 40px;
}

.relative{
    border: 3px solid black;
    position: relative;
    left: 30px;
    width: 400px;
    height: 200px;
}

.fixed{
    border: 2px solid black;
    position: fixed;
    right: 0;
    bottom: 0;
}

.absolute
{
    border: 2px solid black;
    position: absolute;
    top: 80px;
    right: 50;
    width: 100px;
    height: 100px;
}


.sticky{
    position: sticky;
    border: 2px solid black;
    top: 0px;
}