body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
.error{
    color: red;
    font-size: 15px;
}

.form-group{
    margin-bottom: 15px;
}

input{
    padding: 8px;
    width: 250px;
}

button{
    padding: 10px 15px;
    cursor: pointer;
}